doctype html
html
  head
    meta(charset='utf-8' name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1")
    meta(http-equiv="refresh" content="900")
    link(href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    link(href="//cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet")
    link(href="/css/default.css" rel="stylesheet")
    title!=title  
    style(type="text/css").
      h1 {color:red;}
      #home {color:blue; font-size: 18px}
  body
    center 
        h1 Bitcointalk ANN update
        h2
    ul
      for item in message      
          li
             a(target= "_blank" href=item.ann_href)       #{item.ann_msgID}  :   #{item.ann_title}
  footer
        div(class="text-muted")
           span Powered by 
             a(target="_blank" href="http://www.cnpool.vip")
                span  空气池cnpool.vip 
           span   QQ交流群：686394624
             a(href="http://13.229.228.125")   小福利
